<html>

<head>

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

    <link href="{{url_for('static', filename='css/login_signup_reset.css')}}" rel="stylesheet">
</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active"> Sign In </h2>
            <h2 class="inactive underlineHover"> <a href="{{ url_for('auth.register') }}"> Sign up </a></h2>
            <h2 class="inactive underlineHover"> <a href="{{ url_for('view.home') }}"> Home </a></h2>
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="{{url_for('view.image_file',name='user-286.png', folder = 'user_image')}}" id="icon"
                    alt="User Icon" />
            </div>

            <!-- Login Form -->
            {%if msg%}
            <div style="color:greenyellow" class="fadeIn first">{{msg}}</div>
            {%endif%}
            <form method="post" action="\login_submit" autocomplete="off">
                <label for="login"><b>USER EMAIL</b></label>
                <input type="email" class="fadeIn second" id='email' name='email' placeholder="Enter Email"
                    value="{%if 'email' in request.cookies%} {{ request.cookies.get('email') }} {%endif%}" required>
                <br>
                <label for="password"><b>USER PASSWORD</b></label>
                <input type="password" class="fadeIn third" id='password' name='password'
                    value="{% if 'password' in request.cookies %} {{ request.cookies.get('password') }} {% endif %}"
                    placeholder="Enter Password" required>
                <i class="fa-regular fa-eye-slash" id="eye"></i>
                <br>
                <input type="checkbox" class="fadeIn fourth" name="inputRemember"
                    checked="{%if 'rem' in request.cookies%} {{ request.cookies.get('rem') }} {%endif%}"
                    autocomplete="off">
                <label for="inputRemember">Remember me</label> <br>
                <input type="submit" class="fadeIn fourth" value="Log In">

            </form>

            <div>
                {%with messages = get_flashed_messages()%}
                {%if messages %}
                {%for message in messages%}
                <div name="msg" class="fadeIn second" style="color: red;" >{{messages[0]}}</div>
                {%endfor%}
                {%endif%}
                {%endwith%}
            </div>

            <!-- Remind Passowrd -->

            <div id="formFooter">
                <a class="underlineHover" href="{{url_for('auth.resetpass')}}">Forgot Password?</a>
            </div>

        </div>
    </div>
    <!-- partial -->

    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
    <script src="{{url_for('static', filename='js/toggleEyePassword.js')}}"></script>

</body>

</html>