<html>

<head>
    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

    <link href="{{url_for('static', filename='css/login_signup_reset.css')}}" rel="stylesheet">
</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <h2 class="inactive underlineHover"> <a href="{{ url_for('auth.login') }}"> Sign In </a></h2>
            <h2 class="active"> Sign Up </h2>
            <h2 class="inactive underlineHover"> <a href="{{ url_for('view.home') }}"> Home </a></h2>

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="{{url_for('view.image_file',name='registration-of-activities-512.png', folder = 'user_image')}}"
                    id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form method="post" action="/register_submit" autocomplete="off">
                <label for="login"><b>USER EMAIL</b></label>
                <input type="email" class="fadeIn second" id='email' placeholder="*****@gmail.com" name='email'> <br>

                <label for="username"><b>USER NAME</b></label>
                <input type="text" class="fadeIn second" id='username' placeholder="Enter Username" name='username'>
                <br>
                <label for="user-password"><b>PASSWORD</b></label>
                <input type="password" class="fadeIn fourth" id="password" minlength="8" placeholder="Enter Password" name="password">
                <!-- <i class="fa-regular fa-eye-slash" id="eye1"></i> -->
                <br>
                <label for="password-repeat"><b>REPEAT PASSWORD</b></label>
                <input type="password" class="fadeIn fourth" id="repassword" placeholder="Repeat Password" name="repassword">
                <!-- <i class="fa-regular fa-eye-slash" id="eye2"></i> -->
                <br>
                <input type="submit" class="fadeIn fourth" value="Create Account">
            </form>
            <div>
                {%with messages = get_flashed_messages()%}
                {%if messages %}
                {%for message in messages%}
                <div class = 'fadeIn fourth' style="color: red; motion-rotation: 70minutes;" role="alert">{{messages[0]}}</div>
                {%endfor%}
                {%endif%}
                {%endwith%}
            </div>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="{{ url_for('auth.resetpass') }}">Forgot Password?</a>
            </div>

        </div>
    </div>
    <!-- partial -->

    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
    <script src="{{url_for('static', filename='js/toggleEyePassword.js')}}"></script>
</body>

</html>