<html>

<head>
    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

    <link href="{{url_for('static', filename='css/login_signup_reset.css')}}" rel="stylesheet">
</head>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="inactive underlineHover"> <a href="{{ url_for('auth.login') }}">
                    < Back </a>
            </h2>
            <h2 class="active"> RESET PASSWORD </h2>

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="{{url_for('view.image_file',name='reset-password-13-512.png', folder = 'user_image')}}"
                    id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form action="" method="post">
                <div class="msg">{{ msg }}</div>
                <label for="login"><b>USER EMAIL</b></label>
                <input type="email" class="fadeIn second" id='email' placeholder="Enter Email" name='email'>
                <br>
                <label for="user-password"><b>PASSWORD</b></label>
                <input type="password" class="fadeIn third" id='password' placeholder="Enter Password" name='password'>
                <i class="fa-regular fa-eye-slash" id="eye1"></i>
                <br>
                <label for="password-repeat"><b>REPEAT PASSWORD</b></label>
                <input type="password" class="fadeIn fourth" id="repassword" placeholder="Repeat Password" name="repassword">
                <i class="fa-regular fa-eye-slash" id="eye2"></i>
                <br>
                <input type="submit" class="fadeIn fourth" value="reset">
            </form>
        </div>
    </div>

    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
    <script src="{{url_for('static', filename='js/toggleEyePassword.js')}}"></script>
</body>

</html>