<html>
    <head>
    <link href="{{url_for('static', filename='css/login_signup_reset.css')}}" rel="stylesheet">

    </head>
    <body>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->
                <h2 class="inactive underlineHover"> <a href="{{ url_for('auth.login') }}">
                        < Back </a>
                </h2>
                <h2 class="active"> RESET PASSWORD </h2>
    
                <!-- Icon -->
                <div class="fadeIn first">
                    <img src="{{url_for('view.image_file',name='reset-password-13-512.png', folder = 'user_image')}}" id="icon" alt="User Icon" />
                </div>
    
                <!-- Login Form -->
                <form action="" method="post">
                    <div class="msg">{{ msg }}</div>
                    <label for="login"><b>USER EMAIL</b></label>
                    <input type="email" class="fadeIn second" id = 'email' placeholder="Enter Email" name = 'email'> <br>
    
                    <label for="user-password"><b>PASSWORD</b></label>
                    <input type="password" class="fadeIn third" id = 'password' placeholder="Enter Password" name = 'password'> <br>
    
                    <label for="password-repeat"><b>REPEAT PASSWORD</b></label>
                    <input type="password" class="fadeIn fourth" id="repassword" placeholder="Repeat Password"
                        name="repassword"><br>
                    <input type="submit" class="fadeIn fourth" value="reset">
                </form>
            </div>
        </div>
    </body>
</html>

    