* {
    box-sizing: border-box;
}

#body-text, #title
{
    display: block;
    overflow: hidden;
    resize: none;
}

#body-text {
    min-height: 100px;
}

#title {
    height: 38px;
}



.zoom:hover {
    padding-bottom: 40px;
    cursor: pointer;
    transition: transform .2s;
    -ms-transform: scale(1.5);/* IE 9 */
    -webkit-transform: scale(1.5);/* Safari 3-8 */
    transform: scale(1.5);
    
}
