.image-profile {
    height: 200px;
    width: 200px;
    border-radius:50%;
}

.bold-text {
    font-weight: bold;
}

.error-msg {
    /* display: flex;
    justify-content: flex-start; */
    color: red;
    font-size: 12px;
    /* max-width: 350px;
    margin-left: 50px;
    position: relative; */
}
.error-msg i{
    color: red;
    font-size: 12px;
    /* left: 35px;
    top: -22px;
    position: absolute; */
}
