* {
    box-sizing: border-box;
}

.color-green {
    color: green;
}

.width-select {
    width: 250px;
}
.btn {
    color: #fff;
    background-color:#CE877F;
}


/* .fakeimage {
    max-width: 100%;
    height: auto;
} */