* {
    box-sizing: border-box;
}

.color-green {
    color: green;
}

.width-select {
    width: 250px;
}
.btn {
    color: #fff;
    background-color:#CE877F;
}

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
}

table.dataTable td,
table.dataTable th {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
/* .fakeimage {
    max-width: 100%;
    height: auto;
} */