{%extends 'admin_home.html'%}
{%block content%}
<div class="col-md-12">
  <div class="card">
    <form id="TypeValidation" autocomplete="off" class="form-horizontal" action="/submit_add_room">
      <div class="card-header card-header-text" data-background-color="rose">
        <h4 class="card-title">Thêm phòng</h4>
      </div>
      <div class="card-content">
        <div class="row">
          <label class="col-sm-2 label-on-left">Tên phòng</label>
          <div class="col-sm-7">
            <div class="form-group label-floating">
              <label class="control-label"></label> 
              <input class="form-control" type="text" name="room_name" id="room_name" required value="" />
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-2 label-on-left">Địa chỉ</label>
          <div class="col-sm-7">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input class="form-control" type="text" id="room_address" name="room_address" value="" />
            </div>
          </div>

        </div>
        <div class="row">
          <label class="col-sm-2 label-on-left">Giá phòng</label>
          <div class="col-sm-7">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input class="form-control" type="text" id="room_price" name="room_price" required number="true" value="" />
            </div>
          </div>

        </div>
        <div class="row">
          <label class="col-sm-2 label-on-left">Loại phòng</label>
          <div class="col-sm-7">
            <div class="form-group label-floating">
              <label class="control-label" id="choose"> </label>
              <select class="form-select form-select-lg mb-3" name="room_type" style="cursor: pointer;" required>
                <option selected disabled>Chọn loại phòng</option>
                <option value="1" class="list-group-item" >Phòng đơn</option>
                <option value="2" class="list-group-item">Phòng đôi</option>
                <option value="3" class="list-group-item" >Phòng gia đình</option>
                <option value="4" class="list-group-item">Phòng sinh hoạt chung</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-2 label-on-left">Mô tả chung</label>
          <div class="col-sm-3">
            <div class="form-group label-floating column-sizing">
              <label class="control-label"></label>
              <input class="form-control" id="room_performance" name="room_performance" type="text" value="" />
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group label-floating column-sizing">
              <label class="control-label"></label>
              <input class="form-control" id="room_province" name="room_province" type="text" value=""
                onkeyup="suggest_province(this.value);" onblur="province_fill()" placeholder="Tỉnh thành" required/>
            </div>
            <div class="suggestionsBox" id="suggestions">
              <div class="suggestionList" id="suggestionsList"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <label class="col-sm-2 label-on-left">Thêm ảnh</label>
        <div class="col-sm-3">
          <label class="control-label">Drop file here</label>
          <input class="form-control" id="image" accept="image/*" name="image" multiple type="file" required />
        </div>
        <div class="card-footer text-center">
          <button type="submit" class="btn btn-rose btn-fill">Validate Inputs</button>
        </div>
    </form>
  </div>
</div>
<script>
  function suggest_province(inputString) {
    if (inputString.length == 0) {
      $('#suggestions').fadeOut();
    } else {
      $('#room_province').addClass('load');
      $.post("/ajaxpost", { queryString: "" + inputString + "" }, function (data) {
        $('#suggestions').fadeIn();
        $('#suggestionsList').html(data);
        $('#suggestionsList').append(data.htmlresponse);
        $('#room_province').removeClass('load');
      });
    }
  }
  function province_fill(thisValue) {
    $('#room_province').val(thisValue);
    setTimeout("$('#suggestions').fadeOut();", 600);
  }
</script>
<script>
  $('#choose').click(function(){
    $(this).siblings('select').css('width', $(this).outerWidth(true)).toggle();
});
</script>
{%include 'footer_admin.html'%}
{%endblock%}