{%extends 'admin.html'%}
{%block content%}
<!-- <h3><form action="" method="post" >
            <input type="text" >
        </form></h3> -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="{{ category }}">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="container search-table">
    <div class="search-box">
        <div class="row">
            <div class="col-md-3">
                <h5>Search Bill Customer</h5>
            </div>

            <div class="col-md-9">
                {%if search_text%}
                <form action="/dashboard" autocomplete="off">
                    <input type="text" name="search_text" id="search_text" class="form-control" placeholder="Search"
                        value="{{search_text}}">
                    <button class="btn" type="submit">Search</button>
                </form>
                {%else%}
                <form action="/dashboard" autocomplete="off">
                    <input type="text" name="search_text" id="search_text" class="form-control" placeholder="Search">
                    <button class="btn" type="submit">Search</button>
                </form>
                {%endif%}
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="purple">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        {%if total_money%}
                        <h4 class="card-title">Dashboard - Revenue: <strong class="fomat-money">{{total_money}} VNĐ</strong> </h4>
                        {%else%}
                        <h4 class="card-title">Dashboard </h4>

                        {%endif%}
                        <div class="toolbar">
                        </div>

                        <div class="material-datatables">
                            <div class="material-datatables">
                                <table id="datatables" class="table table-striped table-no-bordered table-hover"
                                    cellspacing="0" width="100%" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Bill ID</th>
                                            <th>Customer Name</th>
                                            <th>Room ID</th>
                                            <th>Purchase</th>
                                            <th>Status</th>
                                            <th class="disabled-sorting text-right">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%if data%}
                                        {%for row in data%}
                                        <tr>
                                            <td>{{row.bill_id}}</td>
                                            <td>{{row.customer_name}}</td>
                                            <td>{{row.room_id}}</td>
                                            <td class="fomat-money">{{row.total_money}} VNĐ</td>
                                            <td>{{row.tinhtrang}}</td>
                                            <td><a href="{{url_for('adview.detail_bill',bill_id = row.bill_id)}}">View
                                                    details</a>
                                            </td>
                                        </tr>
                                        {%endfor%}
                                        {%endif%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end content-->
                    </div>
                    <!--  end card  -->
                </div>
                <!-- end col-md-12 -->
            </div>
            <!-- end row -->
        </div>
        <nav>
            <ul class="pagination pagination-info">
                {%if prev or next%}
                {%if prev >= 1%}
                <li>

                    <a href="/manage_rooms/{{prev}}">Previous</a>

                </li>
                {%endif%}
                <li>
                    {% for page in range(page)%}
                    <span> <a href="/manage_rooms/{{loop.index}}">{{loop.index}}</a></span>
                    {%endfor%}
                </li>
                {% if next <= page %} <li>
                    <a href="/manage_rooms/{{next}}">Next</a>

                    </li>
                    {%endif%}
                    {%endif%}

            </ul>

        </nav>
    </div>
</div>
<script>
    let nodeList = document.querySelectorAll(".fomat-money");

    for (let i = 0; i < nodeList.length; i++) {
        nodeList[i].innerHTML = nodeList[i].innerHTML.replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1 ');
    }
</script>
{%include 'footer_admin.html'%}
{%endblock%}