{%extends 'admin.html'%}
{%block content%}
<div class="col-lg-4 col-md-9">
    <div class="col-lg-4 col-md-7">
        <div class="shadow rounded overflow-hidden">
            <div class="position-relative">
                <h2>Tên Phòng</h2>
            </div>
            <div class="p-4 mt-2 ">
                <div class="d-flex justify-content-between mb-3">
                    <h5 class="mb-0"></h5>
                    <div class="ps-2">
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>3
                        Bed</small>
                    <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>2
                        Bath</small>
                    <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
                </div>
                <p class="text-body mb-3"></p>
                <div class="d-flex justify-content-between">
                    <a class="btn btn-sm btn-primary rounded py-2 px-4">View Detail</a>
                    <a class="btn btn-sm btn-dark rounded py-2 px-4" href="">Book Now</a>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-4 col-md-6">
        <div class="shadow rounded overflow-hidden">
            <div class="position-relative">
                <h2>Tên Phòng</h2>
            </div>
            <div class="p-4 mt-2 ">
                <div class="d-flex justify-content-between mb-3">
                    <h5 class="mb-0"></h5>
                    <div class="ps-2">
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>3
                        Bed</small>
                    <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>2
                        Bath</small>
                    <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
                </div>
                <p class="text-body mb-3"></p>
                <div class="d-flex justify-content-between">
                    <a class="btn btn-sm btn-primary rounded py-2 px-4">View Detail</a>
                    <a class="btn btn-sm btn-dark rounded py-2 px-4" href="">Book Now</a>
                </div>
            </div>
        </div>

    </div>
</div>

{%include 'footer_admin.html'%}
{%endblock%}