{%extends 'admin_home.html'%}
{%block content%}
<div class="col-md-12">
  <div class="card">
    <form id="TypeValidation" autocomplete="off" class="form-horizontal" action="{{url_for('admin.edit_room_submit')}}">
      <div class="card-header card-header-text" data-background-color="rose">
        <h4 class="card-title">Cập nhật thông tin phòng</h4>
      </div>
      <div class="card-content">
        <div class="row">
          <label class="col-sm-2 label-on-left">Mã phòng</label>
          <div class="col-sm-7">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input class="form-control" type="text" id='room_id' name="room_id" required="true"
                value="{{row.room_id}}" readonly />
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-2 label-on-left">Tên phòng</label>
          <div class="col-sm-7">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input class="form-control" type="text" name="room_name" id="room_name" value="{{row.room_name}}" />
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-2 label-on-left">Địa chỉ</label>
          <div class="col-sm-7">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input class="form-control" type="text" id="room_address" name="room_address"
                value="{{row.room_address}}" />
            </div>
          </div>

        </div>
        <div class="row">
          <label class="col-sm-2 label-on-left">Giá phòng</label>
          <div class="col-sm-7">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input class="form-control" type="text" id="room_price" name="room_price" number="true"
                value="{{row.room_price}}" />
            </div>
          </div>

        </div>
        <div class="row">
          <label class="col-sm-2 label-on-left">Loại phòng</label>
          <div class="col-sm-7">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input class="form-control" type="text" name="room_type" id="room_type" url="true"
                value="{{row.room_type}}" onkeyup="suggest_roomtype(this.value);" onblur="room_fill()"/>
            </div>
            <div class="suggestionsBox" id="suggestions_room">
              <div class="suggestionList" id="suggestionsList_room"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-2 label-on-left">Mô tả chung</label>
          <div class="col-sm-3">
            <div class="form-group label-floating column-sizing">
              <label class="control-label"></label>
              <input class="form-control" id="room_performance" name="room_performance" type="text"
                value="{{row.room_performance}}" />
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group label-floating column-sizing">
              <label class="control-label"></label>
              <input class="form-control" id="room_province" name="room_province" type="text"
                value="{{row.room_province}}" onkeyup="suggest_province(this.value);" onblur="province_fill()" />
            </div>
            <div class="suggestionsBox" id="suggestions">
              <div class="suggestionList" id="suggestionsList"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <button type="submit" class="btn btn-rose btn-fill">Validate Inputs</button>
      </div>
    </form>
  </div>
</div>
<script>
  function suggest_province(inputString) {
    if (inputString.length == 0) {
      $('#suggestions').fadeOut();
    } else {
      $('#room_province').addClass('load');
      $.post("/ajaxpost", { queryString: "" + inputString + "" }, function (data) {
        $('#suggestions').fadeIn();
        $('#suggestionsList').html(data);
        $('#suggestionsList').append(data.htmlresponse);
        $('#room_province').removeClass('load');
      });
    }
  }
  function province_fill(thisValue) {
    $('#room_province').val(thisValue);
    setTimeout("$('#suggestions').fadeOut();", 600);
  }
  </script>
  <script>
  function suggest_roomtype(inputString) {
    if (inputString.length == 0) {
      $('#suggestions_room').fadeOut();
    } else {
      $('#room_type').addClass('load');
      $.post("/type_room_ajax", { queryString: "" + inputString + "" }, function (data) {
        $('#suggestions_room').fadeIn();
        $('#suggestionsList_room').html(data);
        $('#suggestionsList_room').append(data.htmlresponse);
        $('#room_type').removeClass('load');
      });
    }
  }
  function room_fill(thisValue) {
    $('#room_type').val(thisValue);
    setTimeout("$('#suggestions_room').fadeOut();", 600);
  }
</script>
{%include 'footer_admin.html'%}
{%endblock%}