{%extends 'admin.html'%}
{%block content%}
<!-- <h3><form action="" method="post" >
            <input type="text" >
        </form></h3> -->
<div class="container search-table">
    <div class="search-box">
        <div class="row">
            <div class="col-md-3">
                <h5>Search Bill Customer</h5>
            </div>

            <div class="col-md-9">
                {%if search_text%}
                <form action="/manage_rooms" autocomplete="off">
                    <input type="text" name="search_text" id="search_text" class="form-control" placeholder="Search"
                        value="{{search_text}}">
                    <button class="btn" type="submit">Search</button>
                </form>
                {%else%}
                <form action="/manage_rooms" autocomplete="off">
                    <input type="text" name="search_text" id="search_text" class="form-control" placeholder="Search"
                        >
                    <button class="btn" type="submit">Search</button>
                </form>
                {%endif%}
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-lg-4 col-md-6 col-sm-5">
                    <button> <a href="{{url_for('admin.add_room')}}">Thêm phòng</a> </button>
                </div>

                <div>
                    <form name="filter" action="/room_filter">
                        <select name="id_filter" id="id_filter">
                            {%if id_filter == 'room_price_up'%}
                            <option value="room_id">Mã Phòng</option>
                            <option value="room_price_up" selected>Giá phòng tăng</option>
                            <option value="room_price_down">Giá phòng giảm</option>
                            {%elif id_filter == 'room_price_down'%}
                            <option value="room_id">Mã Phòng</option>
                            <option value="room_price_up">Giá phòng tăng</option>
                            <option value="room_price_down" selected>Giá phòng giảm</option>
                            {%else%}
                            <option value="room_id" selected>Mã Phòng</option>
                            <option value="room_price_up">Giá phòng tăng</option>
                            <option value="room_price_down">Giá phòng giảm</option>
                            {%endif%}
                        </select>
                        <select name="show_option" id="show_option">
                            {%if show_option == 'daxoa'%}
                            <option value="hoatdong">Đang hoạt động</option>
                            <option value="daxoa" selected>Đã xóa</option>
                            {%else%}
                            <option value="hoatdong" selected>Đang hoạt động</option>
                            <option value="daxoa">Đã xóa</option>
                            {%endif%}
                        </select>
                        <input type="submit" value="Sắp xếp">
                    </form>
                </div>
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="purple">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Danh sách phòng</h4>
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div class="material-datatables">
                            {%if data%}

                            <div class="material-datatables">
                                <table id="datatables" class="table table-striped table-no-bordered table-hover"
                                    cellspacing="0" width="100%" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Room ID</th>
                                            <th>Room Name</th>
                                            <th>Room Adress</th>
                                            <th>Introduction</th>
                                            <th>Type</th>
                                            <th>Price</th>
                                            <th>Province</th>
                                            <th>Status</th>
                                            <th>View</th>
                                            <th class="disabled-sorting text-right">Actions</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Room ID</th>
                                            <th>Room Name</th>
                                            <th>Room Adress</th>
                                            <th>Introduction</th>
                                            <th>Type</th>
                                            <th>Price</th>
                                            <th>Province</th>
                                            <th>Status</th>
                                            <th>View room</th>
                                            <th class="text-right">Actions</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {%if show_option == 'daxoa'%}
                                        <form name="restore" action="/enable_room">
                                            {%for row in data%}
                                            <tr>
                                                <td>{{row.room_id}}</td>
                                                <td>{{row.room_name}}</td>
                                                <td>{{row.room_address}}</td>
                                                <td>{{row.room_performance}}</td>
                                                <td>{{row.room_type}}</td>
                                                <td>{{row.room_price}}</td>
                                                <td>{{row.room_province}}</td>
                                                <td>{{row.status}}</td>
                                            
                                                <td class="text-center">
                                                    <input type="checkbox" name="restore" value="{{row.room_id}}">
                                                </td>
                                            </tr>
                                            {%endfor%}
                                            <input type="submit" value="Khôi phục" class="btn btn-fill btn-rose">
                                        </form>
                                        {%else%}
                                        {%for row in data%}

                                        <tr>
                                            <td>{{row.room_id}}</td>
                                            <td>{{row.room_name}}</td>
                                            <td>{{row.room_address}}</td>
                                            <td>{{row.room_performance}}</td>
                                            <td>{{row.room_type}}</td>
                                            <td>{{row.room_price}}</td>
                                            <td>{{row.room_province}}</td>
                                            <td>{{row.status}}</td>
                                            <td><a href="{{url_for('view.detail', room_id = row.room_id)}}" target="_blank">Xem</a></td>
                                            <td class="text-right">
                                                <a href="{{url_for('admin.edit_room',id = row.room_id)}}"
                                                    class="btn btn-simple btn-warning btn-icon edit">Edit</a>
                                            </td>
                                            <td><a href="{{url_for('admin.delete_room',id = row.room_id)}}">Delete</a>
                                            </td>
                                        </tr>
                                        {%endfor%}
                                        {%endif%}
                                    </tbody>
                                </table>
                                {%endif%}
                            </div>
                        </div>
                        <!-- end content-->
                    </div>
                    <!--  end card  -->
                </div>
                <!-- end col-md-12 -->
            </div>
            <!-- end row -->
            {%if amount%}
            <p class="card"> <strong>Số lượng: {{amount}}</strong> </p>
            {%endif%}
        </div>
        <nav>
            <ul class="pagination pagination-info">
                {%if prev or next%}
                {%if prev >= 1%}
                <li>

                    <a href="/manage_rooms/{{prev}}">Previous</a>

                </li>
                {%endif%}
                <li>
                    {% for page in range(page)%}
                    <span> <a href="/manage_rooms/{{loop.index}}">{{loop.index}}</a></span>
                    {%endfor%}
                </li>
                {% if next <= page %} <li>
                    <a href="/manage_rooms/{{next}}">Next</a>

                    </li>
                    {%endif%}
                    {%endif%}

            </ul>

        </nav>
    </div>

    {%include 'footer_admin.html'%}
    {%endblock%}