{%extends 'admin.html'%}
{%block content%}
    <!-- <h3><form action="" method="post" >
            <input type="text" >
        </form></h3> -->
    <h3><a href="{{url_for('admin.add_room')}}">Addroom</a></h3>

    <table class = "table table-striped custab">
        <thead>
            <tr>
                <th>Room ID</th>
                <th>Room Name</th>
                <th>Room Adress</th>
                <th>Introduction</th>
                <th>Type</th>
                <th>Price</th>
                <th>Province</th>
            </tr>
        </thead>
        {%if data%}
        {%for row in data%}
        <tr>
                <td>{{row.room_id}}</td>
                <td>{{row.room_name}}</td>
                <td>{{row.room_address}}</td>
                <td>{{row.room_performance}}</td>
                <td>{{row.room_type}}</td>
                <td>{{row.room_price}}</td>
                <td>{{row.room_province}}</td>
                <td><a href="{{url_for('admin.edit_room',id = row.room_id)}}">Edit</a></td>
                <td><button id='btn' onclick="myFunction()" type="submit" value="delete" id="btn-delete">Delete</button> </td>
                <!-- <td><a href="{{url_for('admin.delete_room',id = row.room_id)}}">Delete</a></td> -->

        </tr>
        {%endfor%}
    </table>

    {%endif%}
</body>

</html>
{%include 'footer_admin.html'%}
{%endblock%}