{%extends 'nav_bar.html'%}
{%block content%}

<div class="container">

     <!-- Breadcrumb -->
     <nav class="main-breadcrumb mt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('view.home')}}">Trang chủ</a></li>
            <li class="breadcrumb-item active">Chính sách</li>
        </ol>
    </nav>
    <!-- End Breadcrumb -->

    <div class="card shadow m-3">
        <div class="card-body">
            <div class="mb-3">
                <label class="form-label" for="title"><h3>Nội quy phòng</h3></label>
            </div>
            <div class="mb-3">
                <div class="form-control">
                    <ul>
                        <li>Khi đăng ký các bạn vui lòng cung cấp ảnh chụp 2 mặt CMT/ CCCD trước ngày check-in.</li>
                        <li>Vui lòng check-in và check-out đúng giờ quy định, check in sớm/check out muộn sẽ tính phí
                            theo
                            quy định của khách sạn</li>
                        <li>Không sử dụng chất kích thích, bóng cười, vật liệu cháy nổ trong khuôn viên khách sạn, nếu
                            vi
                            phạm
                            sẽ bị xử phạt theo
                            quy định của khách sạn</li>
                        <li>Bạn vui lòng giữ gìn vệ sinh phòng, và khuôn viên nếu phát sinh các vết bẩn khó xử lý
                            hoặc hỏng hóc thì
                            Homestay sẽ phụ thu theo giá thị trường.</li>
                        <li>Không xả rác hay làm vương than nóng ra bãi cỏ, nếu gây cháy/hư hại bãi cỏ farm sẽ phạt theo
                            quy định (500k/vết
                            cháy, hỏng; hoặc phí vệ sinh 300k/lượt).</li>
                        <li>Bạn vui lòng đỗ xe (oto/ xe máy) đúng nơi quy định, không đỗ lên bãi cỏ.</li>
                    </ul>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="txtPost"><h3>Chính sách hoàn hủy</h3></label>
                <div class="form-control">
                    <b>*KHÔNG HOÀN HỦY chỉ dời lịch cho khách:</b>
                    <ul>
                        <li>
                            Dời lịch miễn phí 3 tháng khi khách không thể đi.
                        </li>
                        <li>Thu 30 % phí dời lịch khi khách có việc cá nhân, báo dời lịch trước 5 ngày.

                        </li>
                    </ul>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="txtPost"><h3>Hợp tác với các tổ chức phi lợi nhuận</h3></label>
                <div class="form-control">
                    Cloud Travel hỗ trợ các tổ chức phi lợi nhuận kết nối mọi người với nơi cư trú tạm thời, tài nguyên
                    và
                    sự hỗ trợ đặc biệt trong thời gian khủng hoảng. Chúng tôi cũng hỗ trợ họ tìm đến nhà ở miễn phí và
                    giảm giá do cộng đồng chủ nhà Airbnb cung cấp.

                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="txtPost"><h3>Đầu tư vào sự bình đẳng</h3></label>
                <div class="form-control">
                    Chúng tôi tin tưởng vào việc sử dụng sức mạnh và nguồn lực của mình để đóng góp vào một thế giới
                    bình đẳng hơn.
                    CloundTravel đầu tư vào các tổ chức bằng những chiến lược và chương trình phù hợp với cam kết của
                    chúng tôi trong việc thúc đẩy sự bình đẳng trong các cộng đồng.

                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="txtPost"><h3>Hiểu về tác động của chúng tôi</h3></label>
                <div class="form-control">
                    Chúng tôi hướng đến đưa tác động của chương trình trợ cấp và cung cấp chỗ ở vào việc cải thiện sức
                    khỏe tâm lý xã
                    hội, giảm gánh nặng tài chính và tăng cường kết nối cộng đồng cũng như cảm giác thân thuộc cho
                    khách.

                </div>
            </div>
        </div>
    </div>

</div>

{%include 'footer.html'%}
{%endblock%}