{%extends 'nav_bar.html'%}
{%block content%}

<head>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{{url_for('static', filename='css/slideshow_Gallery.css')}}" rel="stylesheet">
</head>

<!-- Info -->
<div class="container my-5">
    <div class="">
        <h1>{{data['hotel_name']}}</h1>
    </div>

    <div class="row">
        <div class="col-6 py-2 d-flex">
            <div>
                <i class="fas fa-star"></i>
                <span>đánh giá</span>
            </div>

            <div class="mx-4">
                <i class="fas fa-map-marker-alt"></i>
                <span>{%if province%} {{province[0]}}
                    {%else%} Vị trí {%endif%}
                </span>
            </div>
        </div>

        <div class="col-6 py-2 d-flex justify-content-end">
            <div class="">
                <a href="" class="text-dark text-decoration-none">
                    <i class="fas fa-share"></i>
                    <span>chia sẻ</span>
                </a>
            </div>
            <div class="mx-4">
                <a href="" class="text-dark text-decoration-none">
                    <i class="fas fa-heart"></i>
                    <span>Yêu thích</span>
                </a>
            </div>
        </div>
    </div>

    <!-- Test -->

    <!-- End tess -->

    <!-- image -->
    <div class="mt-5">
        <div class="contain">
            <!-- Carousel -->

            <!-- The slideshow/carousel -->
            <div class="wrapper">
                {% if img%}
                {%for index in range(8)%}
                <div class="image">
                    <img src="{{url_for('view.image_file', name = img[index]['name'], folder=img[index]['folder'])}}"
                        alt="" />
                </div>
                {%endfor%}
                {%endif%}
            </div>



            <div class="gallery">
                <span class="control prev">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="control next">
                    <i class="fas fa-chevron-right"></i>
                </span>
                <div class="gallery-inner">
                    <img src="" alt="" />
                </div>
                <i class="fas fa-times close"></i>
            </div>
        </div>

    </div>


    <!-- general -->
    <div class="row p-0">
        <!-- left -->
        <div class="col-md-7">
            <h1>Mo ta</h1>
            <div>
                <ul>
                    {%if loaiphong %}
                    <li>
                        {{loaiphong[0]}}
                    </li>
                    {%endif%}
                    {%if mota%}
                    {%for row in mota%}
                    <li> {{row.1}} {{row.0}} </li>
                    {%endfor%}
                    {%endif%}
                </ul>
            </div>
            <div>
                {{data['room_performance']}}
            </div>
            <hr class="dropdown-divider">

            <div>
                <h2>Tien Nghi</h2>
                <div>
                    <i class="fas fa-water"></i>
                    <span>Hướng nhìn ra đại dương</span>
                </div>
                <div>
                    <i class="fas fa-wine-bottle"></i>
                    <span>Bếp</span>
                </div>
                <div>
                    <i class="fas fa-wifi"></i>
                    <span>Wi-fi</span>
                </div>
                <div>
                    <i class="fas fa-briefcase"></i>
                    <span>Không gian riêng để làm việc</span>
                </div>
                <div>
                    <i class="fas fa-car"></i>
                    <span>Chỗ đỗ xe miễn phí tại nơi ở</span>
                </div>
            </div>

            <hr class="dropdown-divider">
            <div>
                <h2>Quyen Loi</h2>
                <div>
                    <i class="fas fa-user-shield"></i>
                    <span>An Ninh Tuyet Doi</span>
                </div>
                <div>
                    <i class="far fa-thumbs-up"></i>
                    <span>Trải nghiệm nhận phòng tuyệt vời</span>
                </div>
                <div>
                    <i class="far fa-calendar-alt"></i>
                    <span>Hủy miễn phí trong 48 giờ.</span>
                </div>

            </div>
        </div>
        <!-- right (BOOKING) -->
        <div class="col-md-5">
            <div class="mt-5">
                <h1 class=" d-flex justify-content-md-center">Đặt phòng</h1>
                <div class=" d-flex justify-content-center">
                    <form autocomplete="off" onsubmit="fill_calc()" action="/customer_booking">
                        <div class="bg-white shadow m-0 p-3 rounded" style="max-width: 350px">
                            <div class="row">
                                <div class="col-auto">
                                    <small id="price">{{data['room_price']}}</small> <span>đ/đêm</span>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-star"></i>
                                    <small>Rating: 4,69 </small>
                                </div>
                            </div>

                            <div class="row g-1">
                                <div class="col-12 d-flex justify-content-center p-0">
                                    <div class="row input-daterange" id="flight-datepicker">
                                        <!-- Set Check In -->
                                        <div class="col-6 px-1">
                                            <div class="form-floating">
                                                <input type="text" class="datepicker form-control" id="start-date"
                                                    name="start" placeholder="Check In" />
                                                <label for="start-date">
                                                    <i class="fa-solid fa-calendar-days"></i> Ngày đến
                                                </label>
                                            </div>
                                        </div>
                                        <!-- End Set Check In -->

                                        <!-- Set Check Out -->
                                        <div class="col-6 px-1">
                                            <div class="form-floating">
                                                <input type="text" class="datepicker form-control" id="end-date"
                                                    name="end" placeholder="Check Out" />
                                                <label for="end-date">
                                                    <i class="fa-solid fa-calendar-days"></i> Ngày đi
                                                </label>

                                            </div>
                                        </div>
                                        <!-- End Set Check Out -->
                                    </div>


                                </div>
                                <!-- End Check out -->
                                <!-- Service -->
                                <div class="col-12">
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseService">
                                        Dịch vụ đi kèm
                                    </button>
                                    <div class="collapse" id="collapseService">
                                        <div class="card card-body">
                                            <div class="list-group">
                                                <label class="list-group-item">
                                                    <input class="form-check-input me-1" id="service1" type="checkbox"
                                                        value="">
                                                    Tiệc nướng BBQ
                                                </label>
                                                <label class="list-group-item">
                                                    <input class="form-check-input me-1" id="service2" type="checkbox"
                                                        value="">
                                                    Loa kéo Karaoke
                                                </label>
                                                <label class="list-group-item">
                                                    <input class="form-check-input me-1" id="service3" type="checkbox"
                                                        value="">
                                                    Tổ chức sự kiện
                                                </label>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <!-- End service -->

                                <div type="button" class="btn" onclick="calc()">Ghi nhận</div>

                                <div class="row row-cols-2">
                                    <div class="col">{{data['room_price']}} x <span id="days"></span> </div>
                                    <div class="col" id="calc-room">0</div>


                                    <div class="col">Phí dịch vụ:</div>
                                    <div class="col" id="calc-service">0đ</div>
                                </div>
                                <hr class="dropdown-divider">

                                <div class="row row-cols-2">
                                    <div class="col">Tổng trước thuế:</div>
                                    <div class="col" id="calc-all"></div>
                                </div>
                                <div class="col-12 my-3">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop" style="width: 100%;">
                                        <span>Booking</span>
                                    </button>
                                    {%if session.id %}
                                    <!-- Submit booking-->
                                    <!-- Modal -->
                                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Thông báo
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    XÁC NHẬN ĐẶT PHÒNG/KHÁCH SẠN

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" id="submit_btn"
                                                        class="btn btn-primary">Booking</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Submit booking -->
                                {%else%}
                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Thông báo đăng
                                                    nhập
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Bạn chưa đăng nhập rồi! Đăng nhập trước nhé

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <a class="btn btn-secondary" data-bs-dismiss="modal"
                                                    href="{{url_for('auth.login')}}">Đăng nhập</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {%endif%}

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <hr class="dropdown-divider">
    <div>
        {%if post_list%}
        {%for data in post_list%}
            <small>{{data['date_post']}}</small>
            <h3>{{data['user_name']}}</h3>
            <textarea name="" id="" cols="30" rows="10">{{data['post']}}</textarea>
            <a href="#">Edit</a>
            <a href="#">Delete</a>
        {%endfor%}
        {%endif%}
        <h1>Đánh giá</h1>
        <form action="{{url_for('view.write_post', id=data.data['room_id'])}}" name="write-post">
            <div class="form-group">
                <label for="input-post">Nhập nội dung đánh giá</label>
                <textarea name="body" id="editor" rows="9" cols="20" class="form-control"
                    placeholder="Nhập nội dung tại đây"></textarea>
                <div class=""></div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

</div>
<!-- End Info -->
<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });
</script>
<script src="{{url_for('static', filename='js/slideshow_Gallery.js')}}"></script>
<script src="{{url_for('static', filename='js/calculate.js')}}"></script>


{%include 'footer.html'%}
{%endblock%}