{%extends 'nav_bar.html'%}
{%block content%}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
    <link href="{{url_for('static', filename='css/datepicker.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/slideshow_Gallery.css')}}" rel="stylesheet">
</head>

<!-- Info -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="{{ category }}">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="container my-5">

    <!-- Breadcrumb -->
    <nav class="main-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('view.home')}}">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="{{url_for('view.room')}}">Các phòng</a></li>
            <li class="breadcrumb-item active">Chi tiết</li>
            
        </ol>
    </nav>
    <!-- End Breadcrumb -->

    <div class="">
        <h1>{{data['room_name']}}</h1>
    </div>

    <div class="row">
        <div class="col-6 py-2 d-flex">
            <div>
                <i class="fas fa-star"></i>
                <span>đánh giá</span>
            </div>

            <div class="mx-4">
                <i class="fas fa-map-marker-alt"></i>
                <span>{%if province%} {{province[0]}}
                    {%else%} Vị trí {%endif%}
                </span>
            </div>
        </div>

        <div class="col-6 py-2 d-flex justify-content-end">
            <div class="">
                <a href="" class="text-dark text-decoration-none">
                    <i class="fas fa-share"></i>
                    <span>chia sẻ</span>
                </a>
            </div>
            <div class="mx-4">
                <a href="" class="text-dark text-decoration-none">
                    <i class="fas fa-heart"></i>
                    <span>Yêu thích</span>
                </a>
            </div>
        </div>
    </div>

    <!-- Test -->

    <!-- End tess -->

    <!-- image -->
    <div class="mt-5">
        <div class="contain shadow">
            <!-- The slideshow/carousel -->
            <div class="wrapper">
                {% if img%}
                {%for index in range(8)%}
                <div class="image">
                    <img src="{{url_for('view.image_file', name = img[index]['name'], folder=img[index]['folder'])}}"
                        alt="" />
                </div>
                {%endfor%}
                {%endif%}
            </div>

            <div class="gallery">
                <span class="control prev">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="control next">
                    <i class="fas fa-chevron-right"></i>
                </span>
                <div class="gallery-inner">
                    <img src="" alt="" />
                </div>
                <i class="fas fa-times close"></i>
            </div>
        </div>

    </div>


    <!-- general -->
    <div class="row p-0 my-5 d-flex justify-content-between">
        <!-- left -->
        <div class="col-md-7 col-lg-7 mb-2">
            <div class="card shadow rounded">
                <div class="card-body">
                    <h1>Mô tả</h1>
                    <div>
                        <ul>
                            {%if loaiphong %}
                            <li>
                                {{loaiphong[0]}}
                            </li>
                            {%endif%}
                            {%if mota%}
                            {%for row in mota%}
                            <li> {{row.1}} {{row.0}} </li>
                            {%endfor%}
                            {%endif%}
                        </ul>
                    </div>
                    <div>
                        {{data['room_performance']}}
                    </div>
                    <hr class="dropdown-divider">

                    <div>
                        <h2>Tiện Nghi</h2>
                        <div>
                            <i class="fas fa-water"></i>
                            <span>Hướng nhìn ra đại dương</span>
                        </div>
                        <div>
                            <i class="fas fa-wine-bottle"></i>
                            <span>Bếp</span>
                        </div>
                        <div>
                            <i class="fas fa-wifi"></i>
                            <span>Wi-fi</span>
                        </div>
                        <div>
                            <i class="fas fa-briefcase"></i>
                            <span>Không gian riêng để làm việc</span>
                        </div>
                        <div>
                            <i class="fas fa-car"></i>
                            <span>Chỗ đỗ xe miễn phí tại nơi ở</span>
                        </div>
                    </div>

                    <hr class="dropdown-divider">
                    <div>
                        <h2>Quyền lợi</h2>
                        <div>
                            <i class="fas fa-user-shield"></i>
                            <span>An Ninh Tuyet Doi</span>
                        </div>
                        <div>
                            <i class="far fa-thumbs-up"></i>
                            <span>Trải nghiệm nhận phòng tuyệt vời</span>
                        </div>
                        <div>
                            <i class="far fa-calendar-alt"></i>
                            <span>Hủy miễn phí trong 48 giờ.</span>
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <!-- right (BOOKING) -->

        <div class="col-md-5 col-lg-4">
            <div class="card shadow rounded m-0 p-3">
                <div class="card-body">
                    <h1 class=" d-flex justify-content-md-center">Đặt phòng</h1>
                    <div class=" d-flex justify-content-center">
                        <form autocomplete="off"
                            action="{{url_for('auth.customer_booking',room_id = data['room_id'] )}}">
                            <div class="row">
                                <div class="col-auto">
                                    <small class="fomat-money" id="price">{{data['room_price']}}</small>
                                    <span>đ/đêm</span>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-star"></i>
                                    <small>Rating: {{data['rating']}} </small>
                                </div>
                            </div>

                            <div class="row g-1">
                                <div class="col-12 d-flex justify-content-center p-0">
                                    <div class="row input-daterange" id="flight-datepicker">
                                        <!-- Set Check In -->
                                        <div class="col-6 px-1">
                                            <div class="form-floating">
                                                <input type="text" class="datepicker form-control" id="start-date"
                                                    name="start" placeholder="Check In" />
                                                <label for="start-date" style="font-size: 13px;">
                                                    <i class="fa-solid fa-calendar-days"></i> Ngày đến
                                                </label>
                                            </div>
                                        </div>
                                        <!-- End Set Check In -->

                                        <!-- Set Check Out -->
                                        <div class="col-6 px-1">
                                            <div class="form-floating">
                                                <input type="text" class="datepicker form-control" id="end-date"
                                                    name="end" placeholder="Check Out" />
                                                <label for="end-date">
                                                    <i class="fa-solid fa-calendar-days" style="font-size: 13px;"></i>
                                                    Ngày đi
                                                </label>

                                            </div>
                                        </div>
                                        <!-- End Set Check Out -->
                                    </div>
                                </div>
                                <!-- End Check out -->

                                <!-- Service -->
                                <div class="col-12">
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseService">
                                        Dịch vụ đi kèm
                                    </button>
                                    <div class="collapse" id="collapseService">
                                        <div class="card card-body">
                                            <div class="list-group">
                                                <label class="list-group-item">
                                                    <input name="service" class="form-check-input me-1" id="service1"
                                                        type="checkbox" value="2">
                                                    Tiệc nướng BBQ
                                                </label>
                                                <label class="list-group-item">
                                                    <input name="service" class="form-check-input me-1" id="service2"
                                                        type="checkbox" value="1">
                                                    Loa kéo Karaoke
                                                </label>
                                                <label class="list-group-item">
                                                    <input name="service" class="form-check-input me-1" id="service3"
                                                        type="checkbox" value="4">
                                                    Tổ chức sự kiện
                                                </label>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <!-- End service -->

                                <div type="button" class="btn" onclick="calc()">Ghi nhận</div>

                                <div class="row row-cols-2">
                                    <div class="col fomat-money">{{data['room_price']}} x <span id="days"></span> </div>
                                    <div class="col" id="calc-room">0</div>


                                    <div class="col">Phí dịch vụ:</div>
                                    <div class="col" id="calc-service">0đ</div>
                                </div>
                                <hr class="dropdown-divider">

                                <div class="row row-cols-2">
                                    <div class="col">Tổng trước thuế:</div>
                                    <div class="col" id="calc-all"></div>
                                </div>
                                <div class="col-12 my-3">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop" style="width: 100%;">
                                        <span>Booking</span>
                                    </button>
                                    {%if session.id %}
                                    <!-- Submit booking-->
                                    <!-- Modal -->
                                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Thông
                                                        báo
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    XÁC NHẬN ĐẶT PHÒNG/KHÁCH SẠN

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" id="submit_btn"
                                                        class="btn btn-primary">Booking</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Submit booking -->
                                {%else%}
                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Thông báo
                                                    đăng
                                                    nhập
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Bạn chưa đăng nhập rồi! Đăng nhập trước nhé

                                            </div>
                                            <div class="modal-footer">
                                                <a class="btn btn-secondary" href="{{ url_for('auth.login') }}">Đăng
                                                    nhập</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {%endif%}

                        </form>
                    </div>


                </div>
            </div>

        </div>
    </div>

    <hr class="dropdown-divider my-5">
    {%if full%}
    <div><a class="btn btn-primary mt-1" href="{{url_for('view.detail', room_id=data['room_id'])}}">Ẩn bớt </a></div>
    {%endif%}
    <div>
        {%if post_list%}
        {%for data in post_list%}
        <div style="background-color: antiquewhite; margin-bottom: 10px;">
            <div class="container">
                <p style="font-weight: bold;">{{data['user_name']}}</p>
                <i class="fas fa-star"></i>
                <small>{{data['rating']}} </small>
                <small>{{data['date_post'].strftime("%d/%m/%Y")}}</small>
            </div>

            <p>{{data['post'] | safe}}</p>
            {%if data['user_id'] == session.id %}
            <a href="{{url_for('view.delete_comment', room_id = data['room_id'], post_id=data['post_id'])}}"
                class="btn btn-primary mt-1">Xóa</a>
            {%else%}
            <a href="{{url_for('view.blog_customer', account_id=data['user_id'], account_name=data['user_name'])}}"
                class="btn btn-primary mt-1">Xem trang cá nhân</a>
            {%endif%}
        </div>

        {%endfor%}
        {%endif%}
        {%if not full%}
        {%if num_cmt > 5%}
        <div><a class="btn btn-primary mt-1"
                href="{{url_for('view.full_detail_comment', room_id=data['room_id'])}}">Hiển thị thêm</a>
        </div>
        {%else%}
        <div><a class="btn btn-primary mt-1" href="{{url_for('view.detail', room_id=data['room_id'])}}">Ẩn bớt </a>
        </div>
        {%endif%}
        {%endif%}
        <h1>Đánh giá</h1>
        {%if session.id%}
        <form action="{{url_for('view.write_post', id_room=data['room_id'])}}" id="write-post">
            <div class="stars">
                {%if user_rate == 5%}
                <input class="star star-5" id="star-5" type="radio" value="5" name="star" checked />
                <label class="star star-5" for="star-5"></label>
                <input class="star star-4" id="star-4" type="radio" value="4" name="star" />
                <label class="star star-4" for="star-4"></label>
                <input class="star star-3" id="star-3" type="radio" value="3" name="star" />
                <label class="star star-3" for="star-3"></label>
                <input class="star star-2" id="star-2" type="radio" value="2" name="star" />
                <label class="star star-2" for="star-2"></label>
                <input class="star star-1" id="star-1" type="radio" value='1' name="star" />
                <label class="star star-1" for="star-1"></label>
                {%elif user_rate == 4%}
                <input class="star star-5" id="star-5" type="radio" value="5" name="star" />
                <label class="star star-5" for="star-5"></label>
                <input class="star star-4" id="star-4" type="radio" value="4" name="star" checked />
                <label class="star star-4" for="star-4"></label>
                <input class="star star-3" id="star-3" type="radio" value="3" name="star" />
                <label class="star star-3" for="star-3"></label>
                <input class="star star-2" id="star-2" type="radio" value="2" name="star" />
                <label class="star star-2" for="star-2"></label>
                <input class="star star-1" id="star-1" type="radio" value='1' name="star" />
                <label class="star star-1" for="star-1"></label>
                {%elif user_rate == 3%}
                <input class="star star-5" id="star-5" type="radio" value="5" name="star" />
                <label class="star star-5" for="star-5"></label>
                <input class="star star-4" id="star-4" type="radio" value="4" name="star" />
                <label class="star star-4" for="star-4"></label>
                <input class="star star-3" id="star-3" type="radio" value="3" name="star" checked />
                <label class="star star-3" for="star-3"></label>
                <input class="star star-2" id="star-2" type="radio" value="2" name="star" />
                <label class="star star-2" for="star-2"></label>
                <input class="star star-1" id="star-1" type="radio" value='1' name="star" />
                <label class="star star-1" for="star-1"></label>
                {%elif user_rate == 2%}
                <input class="star star-5" id="star-5" type="radio" value="5" name="star" />
                <label class="star star-5" for="star-5"></label>
                <input class="star star-4" id="star-4" type="radio" value="4" name="star" />
                <label class="star star-4" for="star-4"></label>
                <input class="star star-3" id="star-3" type="radio" value="3" name="star" />
                <label class="star star-3" for="star-3"></label>
                <input class="star star-2" id="star-2" type="radio" value="2" name="star" checked />
                <label class="star star-2" for="star-2"></label>
                <input class="star star-1" id="star-1" type="radio" value='1' name="star" />
                <label class="star star-1" for="star-1"></label>
                {%elif user_rate == 1%}
                <input class="star star-5" id="star-5" type="radio" value="5" name="star" />
                <label class="star star-5" for="star-5"></label>
                <input class="star star-4" id="star-4" type="radio" value="4" name="star" />
                <label class="star star-4" for="star-4"></label>
                <input class="star star-3" id="star-3" type="radio" value="3" name="star" />
                <label class="star star-3" for="star-3"></label>
                <input class="star star-2" id="star-2" type="radio" value="2" name="star" />
                <label class="star star-2" for="star-2"></label>
                <input class="star star-1" id="star-1" type="radio" value='1' name="star" checked />
                <label class="star star-1" for="star-1"></label>
                {%else%}
                <input class="star star-5" id="star-5" type="radio" value="5" name="star" />
                <label class="star star-5" for="star-5"></label>
                <input class="star star-4" id="star-4" type="radio" value="4" name="star" />
                <label class="star star-4" for="star-4"></label>
                <input class="star star-3" id="star-3" type="radio" value="3" name="star" />
                <label class="star star-3" for="star-3"></label>
                <input class="star star-2" id="star-2" type="radio" value="2" name="star" />
                <label class="star star-2" for="star-2"></label>
                <input class="star star-1" id="star-1" type="radio" value='1' name="star" />
                <label class="star star-1" for="star-1"></label>
                {%endif%}
            </div>
            <div class="form-group">
                <label for="input-post">Nhập nội dung đánh giá</label>
                <textarea name="body" id="body-text" class="form-control" placeholder="Nhập nội dung"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-1">Ghi nhận</button>
        </form>
        <div id="result-form"></div>
        {%endif%}
    </div>
</div>
<div>
    <div class="row gy-4">
        {%if recommend%}
        {%for item in recommend %}
        {%if item %}
        <div class="col-lg-4 col-md-6">
            <div class="shadow rounded cart-image">
                <div class="content position-relative" style="height: 50%;">
                    <a href="{{url_for('view.detail', room_id = item[0]['room_id'])}}" target="_blank">
                        <div class="content-overlay"></div>
                        <img class="resize-image rounded-top"
                            src="{{url_for('view.image_file',name= item[1]['name'], folder = item[1]['folder'])}}"
                            alt="room image">
                        <div class="content-details fadeIn-top">
                            <h3>{{item[0]['room_name']}}</h3>
                            <p>Give you a wonderfull holiday!</p>
                        </div>
                    </a>
                    <small
                        class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4 fomat-money">
                        {{item[0]['room_price']}} VNĐ/Đêm
                    </small>
                </div>
                <div class="p-4 mt-2 resize-info" style="height: 50%;">
                    <div class="d-flex justify-content-between mb-3" style="height: 15%">
                        <h5 class="mb-0">{{item[0]['room_name']}}</h5>
                        <div class="d-flex">
                            {%if item[0]['rating']%}
                            {%for i in range(item[0]['rating'])%}
                            <small class="fa fa-star text-primary" style="padding-left: 2px;"></small>
                            {%endfor%}
                            {%endif%}
                        </div>
                    </div>
                    <div class="d-flex mb-3" style="height: 10%">
                        <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>3
                            Bed</small>
                        <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>2
                            Bath</small>
                        <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
                    </div>
                    <p class="text-body mb-3 text-limit" style="height: 25%">{{item[0]['room_address']}}</p>
                    <div class="d-flex justify-content-between mb-1" style="height: 20%">
                        <a class="btn btn-sm btn-primary rounded py-2 px-4"
                            href="{{url_for('view.detail', room_id = item[0]['room_id'])}}">Chi tiết</a>
                        <a class="btn btn-sm btn-dark rounded py-2 px-4"
                            href="{{url_for('view.detail', room_id = item[0]['room_id'])}}">Đặt lịch ngay</a>
                    </div>
                </div>
            </div>
        </div>
        {%endif%}
        {%endfor%}
        {%endif%}
    </div>
</div>
</div>
<!-- End Info -->

<script src="{{url_for('static', filename='js/calculate.js')}}"></script>

{%include 'footer.html'%}
{%endblock%}