<h3>{{numrows}} Records Found</h3>
<table class="table table-striped custab">
  <thead>
      <tr>
        <th>ID</th>
         <th>Name</th>
         <th>Address</th>
         <th>Introduction</th>
         <th>Room Price</th>
         <th>Room type</th>
      </tr>
  </thead>
  <tbody>
{% for row in data %}  
   <tr>
    <td>{{row.room_id}}</td>
    <td>{{row.room_name}}</td>
    <td>{{row.room_address}}</td>
    <td>{{row.room_performance}}</td>
    <td>{{row.room_price}}</td>
    <td>{{row.id_typeroom}}</td>
   </tr>
{% endfor %} 