{%extends 'nav_bar.html'%}
{%block content%}


<body>
    <!-- Carousel -->
    <div class="container-fluid p-0">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="{{url_for('view.image_file',name='carousel-1.jpg', folder='Carousel')}}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h4 class="text-white text-uppercase mb-md-3">Tours & Travel</h4>
                            <h1 class="display-3 text-white mb-md-4">Let's Discover The World Together</h1>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{{url_for('view.image_file',name='carousel-2.jpg', folder='Carousel')}}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h4 class="text-white text-uppercase mb-md-3">Tours & Travel</h4>
                            <h1 class="display-3 text-white mb-md-4">Discover Amazing Places With Us</h1>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{{url_for('view.image_file',name= 'carousel-3.jpeg', folder = 'Carousel')}}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h4 class="text-white text-uppercase mb-md-3">Tours & Travel</h4>
                            <h1 class="display-3 text-white mb-md-4">Discover Amazing Places With Us</h1>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                    <span class="carousel-control-prev-icon mb-n2"></span>
                </div>
            </a>
            <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                    <span class="carousel-control-next-icon mb-n2"></span>
                </div>
            </a>
        </div>
    </div>
    <!-- End Carousel -->

    <!-- Booking Start -->
    <form autocomplete="off" action="">
        <div class="container-fluid">
            <div class="background-booking shadow m-5 p-4">
                <div class="row g-2 align-items-center">
                    <div class="col-md-10">
                        <div class="row g-2">
                            <!-- Set Local -->
                            <div class="col-md-3">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="input-search" placeholder="local..">
                                    <label for="input-search">
                                        <i class="fa-solid fa-location-dot"></i> Select local
                                    </label>
                                </div>
                            </div>
                            <!-- End Set Local -->
                            <div class="col-md-6 d-flex justify-content-center p-0">
                                <div class="row input-daterange" id="flight-datepicker">
                                    <!-- Set Check In -->
                                    <div class="col-6 px-1">
                                        <div class="form-floating">
                                            <input type="text" class="datepicker form-control" id="start-date"
                                                name="start" placeholder="Check In" data-date-format="DD, MM d" />

                                            <label for="start-date">
                                                <i class="fa-solid fa-calendar-days"></i> Check Int
                                            </label>
                                        </div>
                                    </div>
                                    <!-- End Set Check In -->

                                    <!-- Set Check Out -->
                                    <div class="col-6 px-1">
                                        <div class="form-floating">
                                            <input type="text" class="datepicker form-control" id="end-date" name="end"
                                                placeholder="Check Out" data-date-format="DD, MM d" />
                                            <label for="end-date">
                                                <i class="fa-solid fa-calendar-days"></i> Check Out
                                            </label>

                                        </div>
                                    </div>
                                    <!-- End Set Check Out -->
                                </div>
                            </div>


                            <!-- Customer Type -->
                            <div class="col-md-3">
                                <div class="form-floating">
                                    <input type="text" class="datepicker form-control" id="floatingsSelectGrid1"
                                        placeholder="people..">
                                    <label for="floatingsSelectGrid1">
                                        <i class="fa-solid fa-user-check"></i> people
                                    </label>
                                </div>
                            </div>
                            <!-- End Customer Type -->
                        </div>
                    </div>

                    <!-- Submit booking-->
                    <div class="col-md-2">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-lg" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                            Submit
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Search</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        AHIHI
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Booking</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Submit booking -->
                </div>
            </div>
        </div>

    </form>
    <!-- Booking End -->

    <!-- Room Start -->
    <!-- Product -->
    <div class="row gy-4">
        {%for item in data%}
        {%if item %}
        <div class="col-lg-4 col-md-6">

            <div class="shadow rounded overflow-hidden">
                <div class="position-relative">
                    <img class="img-fluid"
                        src="{{url_for('view.image_file',name= item[1]['name'], folder = item[1]['folder'])}}"
                        alt="">
                    <small
                        class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">{{item[0]['room_price']}}đ/Đêm</small>
                </div>
                <div class="p-4 mt-2 ">
                    <div class="d-flex justify-content-between mb-3">
                        <h5 class="mb-0">{{item[0]['room_name']}}</h5>
                        <div class="ps-2">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                    </div>
                    <div class="d-flex mb-3">
                        <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>3
                            Bed</small>
                        <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>2
                            Bath</small>
                        <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
                    </div>
                    <p class="text-body mb-3" >{{item[0]['room_address']}}</p>
                    <div class="d-flex justify-content-between">
                        <a class="btn btn-sm btn-primary rounded py-2 px-4"
                            href="{{url_for('view.detail', room_id = item[0]['room_id'])}}">View Detail</a>
                        <a class="btn btn-sm btn-dark rounded py-2 px-4" href="">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
        {%endif%}
        {%endfor%}
    </div>
</div>
    <!-- Room End -->

    <!-- Newsletter Start -->
    <form action="">
        <div class="container mb-3">
            <div class="row justify-content-center">
                <div class="col-lg-10 border rounded p-1">
                    <div class="border rounded text-center p-1">
                        <div class="bg-white rounded text-center p-5">
                            <h4 class="mb-4">Subscribe Our <span class="text-primary text-uppercase">Newsletter</span>
                            </h4>
                            <div class="position-relative mx-auto" style="max-width: 400px;">
                                <input class="form-control w-100 py-3 ps-4 pe-5" type="text"
                                    placeholder="Enter your email">
                                <button type="submit"
                                    class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- Newsletter Start -->
    {% include 'footer.html'%}
{%endblock%}
    <!-- Footer End -->


    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script> -->


