{%extends 'nav_bar.html'%}
{%block content%}

<div class="container py-5">

    <!-- Breadcrumb -->
    <nav class="main-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('view.home')}}">Trang chủ</a></li>
            <li class="breadcrumb-item active">Các phòng</li>
        </ol>
    </nav>
    <!-- End Breadcrumb -->

    <div class="text-center">
        <h1 class="section-title text-center text-primary">KHÁM PHÁ</h1>
        <h2 class="mb-5"><span class="text-primary">TRẢI NGHIỆM</span> những điều tuyệt vời</h2>
    </div>

    <!-- Select -->
    <div class="d-flex justify-content-end">
        <div class="form-floating mb-2 width-select">
            <form action="/page/filter">
                <div class="row">
                    <div class="col-9">
                        <select class="form-select" name="filter">
                            {%if id_filter == 'price_down'%}
                            <option value="price_down" selected>Giá giảm dần</option>
                            <option value="price_up">Giá tăng dần</option>
                            <option value="most_popular">Phổ biến</option>
                            {%elif id_filter == 'price_up'%}
                            <option value="price_down">Giá giảm dần</option>
                            <option value="price_up" selected>Giá tăng dần</option>
                            <option value="most_popular">Phổ biến</option>
                            {%else%}
                            <option value="price_down">Giá giảm dần</option>
                            <option value="price_up">Giá tăng dần</option>
                            <option value="most_popular" selected>Phổ biến</option>
                            {%endif%}
                        </select>
                    </div>
                    <button class="btn col-3" type="submit">Lọc</button>
                </div>
            </form>

            <!--  -->
        </div>
    </div>
    <!-- Select end -->



    <!-- Product -->
    <div class="row gy-4">
        <div>
            {%if msg%}
            <div>{{msg}}</div>
            {%endif%}
        </div>
        {%if data%}
        {%for item in data%}
        {%if item %}
        <div class="col-lg-4 col-md-6">
            <div class="shadow rounded cart-image">
                <div class="content position-relative" style="height: 50%;">
                    <a href="{{url_for('view.detail', room_id = item[0]['room_id'])}}" target="_blank">
                        <div class="content-overlay"></div>
                        <img class="resize-image rounded-top"
                            src="{{url_for('view.image_file',name= item[1]['name'], folder = item[1]['folder'])}}"
                            alt="room image">
                        <div class="content-details fadeIn-top">
                            <h3>this is a title</h3>
                            <p>this is a short description</p>
                        </div>
                    </a>
                    <small
                        class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4" id="fomat-money">
                        {{item[0]['room_price']}} VNĐ/Đêm
                    </small>
                </div>
                <div class="p-4 mt-2 resize-info" style="height: 50%;">
                    <div class="d-flex justify-content-between mb-3" style="height: 15%">
                        <h5 class="mb-0">{{item[0]['room_name']}}</h5>
                        <div class="ps-2">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                    </div>
                    <div class="d-flex mb-3" style="height: 10%">
                        <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>3
                            Bed</small>
                        <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>2
                            Bath</small>
                        <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
                    </div>
                    <p class="text-body mb-3 text-limit" style="height: 25%">{{item[0]['room_address']}}</p>
                    <div class="d-flex justify-content-between mb-1" style="height: 20%">
                        <a class="btn btn-sm btn-primary rounded py-2 px-4"
                            href="{{url_for('view.detail', room_id = item[0]['room_id'])}}">Chi tiết</a>
                        <a class="btn btn-sm btn-dark rounded py-2 px-4" href="">Đặt lịch ngay</a>
                    </div>
                </div>
            </div>
        </div>
        {%endif%}
        {%endfor%}
        {%endif%}
    </div>
    {%if row_count%}
    <div>
        <h2>Số lượng: {{row_count}}</h2>
    </div>
    {%endif%}

    <!-- pagination -->
    <nav class="mt-4 d-flex justify-content-end">
        <ul class="pagination">
            {%if prev or next%}

            <li class="page-item">
                {%if prev >= 1%}
                <a class="page-link" href="/page/{{prev}}">Previous</a>
                {%endif%}
            </li>
            {% for page in range(page)%}
            <li class="page-item" id="pageActive">
                <span><a class="page-link" id="numPage" href="/page/{{loop.index}}">{{loop.index}}</a></span>
            </li>
            {%endfor%}
            <li class="page-item">
                {% if next <= page %} <a class="page-link" href="/page/{{next}}">Next</a>
                    {%endif%}
            </li>
            {%endif%}
        </ul>
    </nav>
    <!-- end pagination -->
</div>
{%include 'footer.html'%}

{%endblock%}